.divPost{
	border-style: solid;
	margin : auto;
	margin-left: 10%;
	margin-right: 10%;
    width: 80%;
    padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	margin-bottom: 10px;
	border-radius: 5px;
	border-width: 1px;
	background-color: #FFFFFF;
}

.glyphicon-label-padding{
	padding-left: 5px;
}

.divPostHeader{
	background-color:#58c7ef;
	padding-bottom: 20px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.titulo{
	color:white;
	text-shadow: 2px 2px grey;
}
