.divBorderBlack{
	border-style: solid;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

.divAzul{
	background-color :  #1a8cff;
	margin : auto;
	margin-bottom: 10px;
    width: 50%;
    padding: 1px;
}
